# Node modules (backend & frontend)
node_modules/
client/node_modules/
server/node_modules/

# Build output (jika kamu build frontend)
client/dist/

# Vite cache
client/.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Env files (jika nanti digunakan untuk credentials)
.env
client/.env
server/.env

# Editor settings
.vscode/
.idea/
*.swp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/

# Misc
*.tgz
*.zip
*.bak
*.tmp

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# React test coverage
client/coverage/

# Local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local




# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Python Wheels
*.whl

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
#  Usually there will be a path like below:
#  /your-project/dist
dist/
build/
*.spec

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pip
pip-log.txt
pip-delete-this-directory.txt

# pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/

# jupyter notebook
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Logs
*.log

# Coverage reports
.coverage
.coverage.*

# SQLite database files
*.sqlite3
*.db

# Temporary files
*.bak
*.swp
*.swo

**/public/**/*.jpg
**/public/**/*.jpeg
**/public/**/*.png
**/test/**/*.png
**/test/**/*.jpg
**/test/**/*.jpeg

.env*
**/ignore/**