SQLALCHEMY_DATABASE_URL = mysql+pymysql://root:admin@db/station_quality_control
INV_URL = https://ryrytyA&station={station_code}

LOG_FILE_PATH = "./app.log" 
GET_STATIONS_PATH=http://localhost:5000/api/stasiun
UPDATE_HISTORY_STATION_PATH=http://localhost:8000/stasiun_history/{}
UPDATE_LOCATION_STATION_PATH=http://localhost:8000/stasiun_location/{}
UPDATE_ACCELERO_STATION_PATH=http://localhost:8000/stations/status/accelero/{}

STASIUN_QUALITY_FILLER_URL=http://localhost:5000/api/qc/public/summary/2026-04-10?ttl=32400